<section class="flex-1 flex justify-center overflow-y-auto">
  <div class="w-full sm:w-[500px] md:w-[550px] lg:w-[630px] mt-4 px-3">

    @switch (true) {

      @case (loading()) {
        <p class="text-gray-400 text-center">Cargando publicaciones...</p>
      }

      @case (error()) {
        <p class="text-red-400 text-center">Error cargando publicaciones.</p>
      }

      @default {
        <div class="flex flex-col gap-10">

          @for (post of posts(); track post.id) {
            <app-post [postId]="post.id"></app-post>
          }
        </div>
      }
    }

  </div>
  <!-- Right Panel -->
  <aside class="hidden xl:block w-[319px] pl-16 mt-9">
    <app-suggestions></app-suggestions>
  </aside>
</section>
